<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Master Site</title>
  </head>
  <body>
    Hello from the Master Site
  </body>
</html>

